<template>
  <b-container>
    <div class="header">
        <img src="@/assets/vodafone_logo.svg" alt="" />
        <transition name="slide" mode="out-in">
          <b-form-input v-model="searchText" placeholder="Search..."  v-if="showContacts"></b-form-input>
        </transition>
    </div>
    <h1>{{ title }}</h1>
    <transition name="slide" mode="out-in">
      <div v-if="showContacts">
        <div class="letters" >
          <div class="letter" v-for="(letter, lindex) in letters" :key="lindex">
          <span v-if="isALink(letter)" @click="searchLetter = letter">{{ letter }}</span>
        </div>
      </div>
      <b-row>
        <b-col sm="4" v-for="(person, index) in filteredContacts" :key="index" @click="viewPerson(modID = person.id)">
          <div class="contact-item">
            <div class="head">
              {{ person.name }}
            </div>
            <div class="contact-detail">
              {{ person.email }}
            </div>
            <div class="contact-detail">
              {{ person.phone }}
            </div>
          </div>
        </b-col>
        <div class="add-btn" @click="addForm()">
          <div>+</div>
        </div>
      </b-row>
      </div>

      <form v-if="showAddForm">
        <b-row>
          <b-col cols="12">
            <label :for="name">Name</label>
          </b-col>
          <b-col cols="12">
            <b-form-input :id="name" :type="name" v-model="name" placeholder="Enter Name"></b-form-input>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="12">
            <label :for="email">Email address</label>
          </b-col>
          <b-col cols="12">
            <b-form-input :state="nameState" :id="email" :type="email" v-model="email" placeholder="Enter Email"></b-form-input>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="12">
            <label :for="phone">Phone number</label>
          </b-col>
          <b-col cols="12">
            <b-form-input :id="phone" :type="phone" v-model="phone" placeholder="Enter Phone"></b-form-input>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="12">
            <b-button variant="outline-dark" @click="addContact()">Add</b-button>
          </b-col>
        </b-row>
      </form>

      
    
      <div v-if="viewContact" class="profile-container">
        <b-row>
          <b-col cols="6" class="text-right">
           Name:
          </b-col>
          <b-col cols="6">
           {{name}}
          </b-col>
          <b-col cols="6" class="text-right">
           E-mail:
          </b-col>
          <b-col cols="6">
            <a :href="`mailto:${email}`">{{email}}</a>
          </b-col>
          <b-col cols="6" class="text-right">
           Phone:
          </b-col>
          <b-col cols="6">
            <a :href="`tel:${phone}`">{{phone}}</a>
          </b-col>
        </b-row>
        <b-row>
          <b-col class="btn-container" cols="12">
            <b-button variant="outline-dark" @click="getPerson(modID)">Modify</b-button>
            <b-button variant="outline-danger" @click="delContact()">Delete</b-button>
          </b-col>
        </b-row>
      </div>
      
      <form v-if="showModForm">
        <b-row>
          <b-col cols="12">
            <label :for="name">Name</label>
          </b-col>
          <b-col cols="12">
            <b-form-input :id="name" :type="name" v-model="name" placeholder="Enter Name" :value="name"></b-form-input>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="12">
            <label :for="email">Email address</label>
          </b-col>
          <b-col cols="12">
            <b-form-input :state="nameState" :id="email" :type="email" v-model="email" placeholder="Enter Email" :value="email"></b-form-input>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="12">
            <label :for="phone">Phone number</label>
          </b-col>
          <b-col cols="12">
            <b-form-input :id="phone" :type="phone" v-model="phone" placeholder="Enter Phone" :value="phone"></b-form-input>
          </b-col>
        </b-row>
        <b-row>
          <b-col class="btn-container" cols="12">
            <b-button variant="outline-dark" @click="modContact()">Modify</b-button>
            <b-button variant="outline-danger" @click="delContact()">Delete</b-button>
          </b-col>
        </b-row>
      </form>
    </transition>

  </b-container>

</template>

<script>
import contacts from "../assets/data.json";
export default {
  name: "ContactList",
  data() {
      return {
        title: 'Contacts',
        contactList: contacts.accounts,
        contactItem: [],
        searchText: '',
        searchLetter: '',
        alphabet: [],
        showContacts: true,
        showModForm: false,
        showAddForm: false,
        viewContact: false,
        email: '',
        name: '',
        phone: '',
        modID: '',
        reg: /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,24}))$/
      }
    },
  computed: {
    //Getting the starter letters
    letters() {
      let letters = []
      for(let i = "A".charCodeAt(0); i <= "Z".charCodeAt(0); i++) {letters.push(String.fromCharCode([i]))}
      return letters
    },
    //Filtering contacts by keyword and start letter
    filteredContacts() {
      var self=this;
      return this.contactList
        .filter(function(item){return item.name.toLowerCase().indexOf(self.searchText.toLowerCase())>=0;})
        .filter(function(item){return item.name.toLowerCase().startsWith(self.searchLetter.toLowerCase())});
    },
    //Cheking if email address is valid
    nameState() {
        return (this.email == "")? "null" : (this.reg.test(this.email)) ? true : false
      }
  
  },
  methods: {
    //Deides if there's any name which starts with the given letter
    isALink(letter) {
      return this.contactList.some(aut => aut.name.startsWith(letter.toLowerCase()))
    },
    //Adding a new contact to the list
    addContact(){
      if(this.name && this.email && this.phone){
        let arr =  {"id": this.contactList.length, "name": this.name, "email": this.email, "phone": this.phone}
        this.contactList.push(arr)
      }
      // this.contactList.splice(2,1);
      this.returnToContacts();

    },
    //Showing the add-form
    addForm(){
      this.showContacts=false
      this.showAddForm= true
      this.title= 'Add contact'
    },
    //Return to contacts view
    returnToContacts(){
      this.showContacts=true ;
      this.showModForm=false ;
      this.showAddForm=false ;
      this.viewContact= false;
      this.title= 'Contacts',
      this.email= ''
      this.name= ''
      this.phone= ''
      this.modID= ''
    },
    //Get a person to modify form by ID
    viewPerson(modID){

      let obj = this.contactList.find(o => o.id === modID);
      this.name= obj.name
      this.email= obj.email
      this.phone= obj.phone

      this.title= 'View '+ obj.name +'\'s profile'
      this.showContacts=false;
      this.showModForm=false ;
      this.showAddForm=false ;
      this.viewContact= true;

    },
    //Get a person to modify form by ID
    getPerson(modID){

      let obj = this.contactList.find(o => o.id === modID);
      this.name= obj.name
      this.email= obj.email
      this.phone= obj.phone

      this.title= 'Modify '+ obj.name +'\'s profile'
      this.viewContact=false;
      this.showModForm= true;

    },
    //Saving a modified contact
    modContact(){
      let objIndex = this.contactList.findIndex((obj => obj.id == this.modID));
      this.contactList[objIndex].name = this.name
      this.contactList[objIndex].email = this.email
      this.contactList[objIndex].phone = this.phone

      this.returnToContacts();
    },
    //Delete contact
    delContact(){
      for(var i = 0; i < this.contactList.length; i++) {
        if(this.contactList[i].id == this.modID) {
            this.contactList.splice(i, 1);
            break;
        }
      }

      this.returnToContacts();
    }

  }
  
};
</script>