<template>
  <div id="app">
    <ContactList/>
    <AddNew/> 
  </div>
</template>

<script>
import ContactList from './components/ContactList.vue'

export default {
  name: 'app',
  components: {
    ContactList
  },
}
</script>

<style lang="scss">

h1{
  text-align: center;
  position: relative;
  margin-bottom: 50px;

  &::after{
    content: '';
    position: absolute;
    width: 50px;
    height: 3px;
    background: #e60000;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translateY(100%)
  }

}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;

  input{
    max-width: 300px;
    margin-left: 30px;

    &:focus{
      border-color: #969696;
      box-shadow: none;
    }
  }

  img{
    max-height: 50px;
  }
}

.letters{
  text-align: center;
  margin-bottom: 30px;

  .letter{
    display: inline-block;

    span{
      padding: 0 10px;
      font-weight: bold;
      cursor: pointer;
      color: #4a4a4a;
      font-size: 20px;
      transition: all .3s;

      &:hover{
        color: #e60000;
      }
    }
  }
}

.contact-item{
  text-align: center;
  margin-bottom: 30px;
  box-shadow: 0 0px 12px 0px #b1b1b1;
  cursor: pointer;

  .head{
    font-weight: bold;
    background: #4a4a4a;
    color: #fff;
    padding: 5px 15px;
    text-transform: capitalize;
  }

  .contact-detail{
    padding: 3px 15px;
    color: #4a4a4a;
  }
}

.profile-container{
  font-size: 20px;

  .text-right{
    text-align: right;
    color: #4a4a4a;
  }
}

.add-btn{
  width: 56px;
  height: 56px;
  color: #fff;
  background-color: #e60000;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-align: center;
  cursor: pointer;
  transition: all .3s;

  div{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%);
    font-size: 29px;
    line-height: 1;
  }
}

form{
  label{
    text-transform: capitalize;
  }
  input{
    margin-bottom: 30px;
  }
}
.btn-container{
  text-align: center;
  padding: 30px;

  .btn{
    margin: 0 5px;
  }
}

.slide-enter-active, .slide-leave-active {
  transition: opacity .2s ease-in-out, transform .2s ease-in-out;
}

.slide-enter, .slide-leave-to {
  opacity: 0;
  transform: translateY(20px);
}

@media screen and (max-width: 425px) {
  body {
    .header{
      flex-direction: column;

      input{
        margin-top: 15px;
        width: 100%;
        margin-left: 0;
      }
    }
  }
}

</style>
